In [3]:
import pandas as pd
import numpy as np

## Timestamp

In [4]:
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [5]:
pd.Timestamp(2019, 12, 20, 0, 0)

Timestamp('2019-12-20 00:00:00')

In [6]:
# 1 represents Monday and 7 represents Sunday
pd.Timestamp(2019, 12, 20, 0, 0).isoweekday()

5

In [7]:
pd.Timestamp(2019, 12, 20, 5, 2, 23).second

23

## Period

In [8]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [9]:
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

In [10]:
pd.Period('1/2016')+5

Period('2016-06', 'M')

In [11]:
pd.Period('3/5/2016') - 2

Period('2016-03-03', 'D')

## DatetimeIndex and PeriodIndex

In [12]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [13]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [16]:
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), pd.Period('2016-11')])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [17]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

## Converting to Datetime

In [18]:
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-05-26', '7/12/16']
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1, columns=list('ab'))
ts3

               a   b
2 June 2013   62  33
Aug 29, 2014  78  11
2015-05-26    59  92
7/12/16       80  69

In [19]:
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  62  33
2014-08-29  78  11
2015-05-26  59  92
2016-07-12  80  69

In [21]:
pd.to_datetime('4.7.12')

Timestamp('2012-04-07 00:00:00')

In [22]:
pd.to_datetime('4.7.12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

## Timedelta

In [23]:
pd.Timestamp('9/3/2016') - pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [24]:
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

## Offset

In [25]:
pd.Timestamp('9/4/2019').weekday()

2

In [26]:
pd.Timestamp('9/4/2016') + pd.offsets.Week()

Timestamp('2016-09-11 00:00:00')

In [27]:
pd.Timestamp('9/4/2016') + pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

## Working with Dates in a Dataframe

In [28]:
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [30]:
# Frequency B = Business Day
pd.date_range('10-01-2016', periods=9, freq='B')

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [31]:
pd.date_range('04-01-2016', periods=12, freq='QS-JUN')

DatetimeIndex(['2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
               '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01',
               '2018-06-01', '2018-09-01', '2018-12-01', '2019-03-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [33]:
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 9).cumsum(),
                  'Count 2': 120 + np.random.randint(-5, 10, 9)}, index=dates)
df

            Count 1  Count 2
2016-10-02      101      123
2016-10-16      104      125
2016-10-30      113      122
2016-11-13      110      124
2016-11-27      112      118
2016-12-11      121      127
2016-12-25      125      124
2017-01-08      125      117
2017-01-22      122      124

In [43]:
df.index.weekday

Int64Index([6, 6, 6, 6, 6, 6, 6, 6, 6], dtype='int64')

In [44]:
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16      3.0      2.0
2016-10-30      9.0     -3.0
2016-11-13     -3.0      2.0
2016-11-27      2.0     -6.0
2016-12-11      9.0      9.0
2016-12-25      4.0     -3.0
2017-01-08      0.0     -7.0
2017-01-22     -3.0      7.0

In [45]:
df.resample('M').mean()

            Count 1     Count 2
2016-10-31    106.0  123.333333
2016-11-30    111.0  121.000000
2016-12-31    123.0  125.500000
2017-01-31    123.5  120.500000

In [46]:
df['2017']

            Count 1  Count 2
2017-01-08      125      117
2017-01-22      122      124

In [47]:
df['2016-12']

            Count 1  Count 2
2016-12-11      121      127
2016-12-25      125      124

In [49]:
df['2016-12':]

            Count 1  Count 2
2016-12-11      121      127
2016-12-25      125      124
2017-01-08      125      117
2017-01-22      122      124