In [1]:
import pandas as pd

df = pd.read_csv('csv./presidents.csv')
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days"
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days"
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days"

In [2]:
df['First'] = df['President']
df['First'] = df['First'].replace('[ ].*', '', regex=True)
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James

In [3]:
del(df['First'])

def splitname(row):
    row['First'] = row['President'].split(' ')[0]
    row['Last'] = row['President'].split(' ')[-1]
    return row

df = df.apply(splitname, axis='columns')
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First,Last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [4]:
del(df['First'])
del(df['Last'])

pattern='(^[\w]*)(?:.* )([\w]*$)'
df['President'].str.extract(pattern).head()

        0           1
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [5]:
pattern='(?P<First>^[\w]*)(?:.* )(?P<Last>[\w]*$)'
names = df['President'].str.extract(pattern).head()
names

    First        Last
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [6]:
df['First'] = names['First']
df['Last'] = names['Last']
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First,Last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [7]:
df['Born'] = df['Born'].str.extract('([\w]{3} [\w]{1,2}, [\w]{4})')
df['Born'].head()

0    Feb 22, 1732
1    Oct 30, 1735
2    Apr 13, 1743
3    Mar 16, 1751
4    Apr 28, 1758
Name: Born, dtype: object

In [8]:
df['Born'] = pd.to_datetime(df['Born'])
df['Born'].head()

0   1732-02-22
1   1735-10-30
2   1743-04-13
3   1751-03-16
4   1758-04-28
Name: Born, dtype: datetime64[ns]

In [9]:
df['Died'] = df['Died'].str.extract('([\w]{3} [\w]{1,2}, [\w]{4})')
df['Died'].head()

0    Dec 14, 1799
1     Jul 4, 1826
2     Jul 4, 1826
3    Jun 28, 1836
4     Jul 4, 1831
Name: Died, dtype: object

In [10]:
df['Died'] = pd.to_datetime(df['Died'])
df['Died'].head()

0   1799-12-14
1   1826-07-04
2   1826-07-04
3   1836-06-28
4   1831-07-04
Name: Died, dtype: datetime64[ns]

In [11]:
df.head()

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First,Last
0,1,George Washington,1732-02-22,"57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days",1799-12-14,"67 years, 295 days",George,Washington
1,2,John Adams,1735-10-30,"61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days",1826-07-04,"90 years, 247 days",John,Adams
2,3,Thomas Jefferson,1743-04-13,"57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days",1826-07-04,"83 years, 82 days",Thomas,Jefferson
3,4,James Madison,1751-03-16,"57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days",1836-06-28,"85 years, 104 days",James,Madison
4,5,James Monroe,1758-04-28,"58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days",1831-07-04,"73 years, 67 days",James,Monroe

In [12]:
df = df.rename(columns={'Age atstart of presidency': 'Age at start of presidency',
                        'Age atend of presidency': 'Age at end of presidency'})
df.head()

,#,President,Born,Age at start of presidency,Age at end of presidency,Post-presidencytimespan,Died,Age,First,Last
0,1,George Washington,1732-02-22,"57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days",1799-12-14,"67 years, 295 days",George,Washington
1,2,John Adams,1735-10-30,"61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days",1826-07-04,"90 years, 247 days",John,Adams
2,3,Thomas Jefferson,1743-04-13,"57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days",1826-07-04,"83 years, 82 days",Thomas,Jefferson
3,4,James Madison,1751-03-16,"57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days",1836-06-28,"85 years, 104 days",James,Madison
4,5,James Monroe,1758-04-28,"58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days",1831-07-04,"73 years, 67 days",James,Monroe

In [13]:
df['Date start of presidency'] = df['Age at start of presidency'].str.extract('(?:[\w]{2}\syears, [\w]{1,3}\sdays)(.*)')
df['Date start of presidency'] = pd.to_datetime(df['Date start of presidency'])

In [14]:
df['Date at end of presidency'] = df['Age at end of presidency'].str.extract('(?:[\w]{2}\syears, [\w]{1,3}\sdays)(?:\s?)([\w]{3} [\w]{1,2}, [\w]{4})')
df['Date at end of presidency'] = pd.to_datetime(df['Date at end of presidency'])

In [15]:
df['Age at start of presidency'] = df['Age at start of presidency'].str.extract('([\w]{2}\syears, [\w]{1,3}\sdays)')
df['Age at start of presidency'].head()

0     57 years, 67 days
1    61 years, 125 days
2    57 years, 325 days
3    57 years, 353 days
4    58 years, 310 days
Name: Age at start of presidency, dtype: object

In [16]:
df.head()

,#,President,Born,Age at start of presidency,Age at end of presidency,Post-presidencytimespan,Died,Age,First,Last,Date start of presidency,Date at end of presidency
0,1,George Washington,1732-02-22,"57 years, 67 days","65 years, 10 daysMar 4, 1797","2 years, 285 days",1799-12-14,"67 years, 295 days",George,Washington,1789-04-30,1797-03-04
1,2,John Adams,1735-10-30,"61 years, 125 days","65 years, 125 daysMar 4, 1801","25 years, 122 days",1826-07-04,"90 years, 247 days",John,Adams,1797-03-04,1801-03-04
2,3,Thomas Jefferson,1743-04-13,"57 years, 325 days","65 years, 325 daysMar 4, 1809","17 years, 122 days",1826-07-04,"83 years, 82 days",Thomas,Jefferson,1801-03-04,1809-03-04
3,4,James Madison,1751-03-16,"57 years, 353 days","65 years, 353 daysMar 4, 1817","19 years, 116 days",1836-06-28,"85 years, 104 days",James,Madison,1809-03-04,1817-03-04
4,5,James Monroe,1758-04-28,"58 years, 310 days","66 years, 310 daysMar 4, 1825","6 years, 122 days",1831-07-04,"73 years, 67 days",James,Monroe,1817-03-04,1825-03-04

In [17]:
df['Age at end of presidency'] = df['Age at end of presidency'].str.extract('([\w]{2}\syears, [\w]{1,3}\sdays)')
df['Age at end of presidency'].head()

0     65 years, 10 days
1    65 years, 125 days
2    65 years, 325 days
3    65 years, 353 days
4    66 years, 310 days
Name: Age at end of presidency, dtype: object

In [18]:
df.head()

,#,President,Born,Age at start of presidency,Age at end of presidency,Post-presidencytimespan,Died,Age,First,Last,Date start of presidency,Date at end of presidency
0,1,George Washington,1732-02-22,"57 years, 67 days","65 years, 10 days","2 years, 285 days",1799-12-14,"67 years, 295 days",George,Washington,1789-04-30,1797-03-04
1,2,John Adams,1735-10-30,"61 years, 125 days","65 years, 125 days","25 years, 122 days",1826-07-04,"90 years, 247 days",John,Adams,1797-03-04,1801-03-04
2,3,Thomas Jefferson,1743-04-13,"57 years, 325 days","65 years, 325 days","17 years, 122 days",1826-07-04,"83 years, 82 days",Thomas,Jefferson,1801-03-04,1809-03-04
3,4,James Madison,1751-03-16,"57 years, 353 days","65 years, 353 days","19 years, 116 days",1836-06-28,"85 years, 104 days",James,Madison,1809-03-04,1817-03-04
4,5,James Monroe,1758-04-28,"58 years, 310 days","66 years, 310 days","6 years, 122 days",1831-07-04,"73 years, 67 days",James,Monroe,1817-03-04,1825-03-04